[global]
norandommap
refill_buffers
bs=4k,4M
runtime={{ fio_single_job_runtime }}
ioengine=libaio
iodepth={{ fio_single_job_iodepth }}
direct=1
sync=0
buffered=0
randrepeat=0
time_based=1
clocksource=gettimeofday
ramp_time={{ fio_single_job_rampup }}
write_bw_log=fio
write_iops_log=fio
write_lat_log=fio
log_avg_msec=1000
write_hist_log=fio
log_hist_msec=10000
output-format=json

[job-{{ inventory_hostname }}-{{ loop_host_disk }}]
filename=/dev/{{ loop_host_disk }}
rw={ {{ fio_single_job_what }}}
numjobs={{ fio_single_job_nojobs }}
