[submodule "roles/fio-run-single/files/fio-plot"]
	path = roles/fio-run-single/files/fio-plot
  url = https://github.com/louwrentius/fio-plot
[submodule "roles/fio-run-batch/files/fio-plot"]
  path = roles/fio-run-batch/files/fio-plot
  url = https://github.com/louwrentius/fio-plot

